.container_recicle {
    margin-top: 5em;
}
.box_recicle {
    background-color: rgb(255, 255, 255);
    padding: 2em;
    width: 90%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
.register_container {
    display: grid;
    justify-content: center;
    gap: 2em;
    background-color: white;
    width: 90%;
    margin: auto;

}
.register_tittle  {
    text-align: center;
}

.input_container {
    display: flex;
    gap: 2em;
}
.input_label {
    display: grid;

}
.input_label input{
    height: 2em;
    width: 20em;
    outline: none;
    border: 1px solid #005d1f;
}
.select_container {
    display: grid;

}
.select_label {
    height: 2em;
    width: 20em;
    outline: none;
    border: 1px solid #005d1f;
}

.login_account {
    text-align: center;
    margin-bottom: 2em;

}
.login_account a {
    text-align: center;
    color: #005d1f;

}

    @media (max-width: 768px) {
        .input_container {
            display: grid;
            justify-content: center;
            gap: 2em;
        }
    }

@media (max-width: 768px) {
    .box_recicle h1 {
     font-size: 20px;
    }
    .img_recicle {
  width: 230px;
    }
}